.wrapper-homepage{:id => "home"}
    .header 
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p 
    .main{id: "main_hp"}
        = partial 'partials/home'
    .footer
        %p Footer
.content
    .wrapper-about{:id => "about"}
        .header
            %p 
        .sidebar-right
            %p Sidebar-right
        .sidebar-left
            %p Sidebar-left 
        .main
            = partial 'partials/about'
        .footer
            %p Footer

    .wrapper-projects{:id => "projects"}
        .header
            %p 
        .sidebar-right
            %p Sidebar-right
        .sidebar-left
            %p Sidebar-left 
        .main 
            = partial 'partials/projects'
        .footer
            %p Footer

    .wrapper-contact{:id => "contact"}
        .header
            %p 
        .sidebar-right
            %p Sidebar-right
        .sidebar-left
            %p Sidebar-left 
        .main 
            = partial 'partials/contact'
        .footer
            %p Footer









